<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/reservation}" th:object="${reservation}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>

    <label for="surname">Введите фамилию: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>
    <br/>

    <label for="phoneNumber">Введите номер телефона: </label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
    <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phoneNumber Error</div>
    <br/>

    <label for="service">Введите название услуги: </label>
    <input type="text" th:field="*{service}" id="service"/>
    <div style="color:red" th:if="${#fields.hasErrors('service')}" th:errors="*{service}">service Error</div>
    <br/>

    <label for="date">Введите дату: </label>
    <input type="text" th:field="*{date}" id="date"/>
    <div style="color:red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">date Error</div>
    <br/>

    <input type="submit" value="Create!"/>
</form>



</body>
</html>